@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: 'Space Mono', monospace;
    background: #F6F8FF;
    user-select: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.error{
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #F74646;
}
.color-b{
    color: #222731;
}
.color_ligth{
    color: #2B3442;
}
.full_info_color{
    color: #4B6A9B;
    /* opacity: 0.75; */
}

.light{
    display: none;
    align-items: center;
    column-gap: 14px;
    cursor: pointer;
}
 .light_t{
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px;
    color: #90A4D4;
}
.dark{
    display: flex;
    align-items: center;
    column-gap: 14px;
    cursor: pointer;
}
.dark_t{ 
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #222731;
}
.style-links{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* color: #4B6A9B; */
    cursor: pointer;
}
.display-links{
    display: flex;
    align-items: center;
    column-gap:1rem;
    width: max-content;
}
link{
    max-width: 200px;
    /* background:red; */
    overflow: hidden;
}
.link:hover{
    text-decoration-line: underline;
}

.container{
    width: 100%;
    max-width: 730px;
    margin: 50px auto;
}
.container_fluid{
    width: 100%;
    max-width: 630px;
    margin: 44px auto;
}
.wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.wrapper .header{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.wrapper .header .logo_mode{
    width: 100%;
    max-width: 730px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper .header .logo_mode .defender{
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #222731;
}
.wrapper .header .search_bar{
    width: 100%;
    max-width: 730px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
    cursor: pointer;
}
.wrapper .header .search_bar .input{
    display: flex;
    column-gap:14px;
    padding-left: 1rem;
    align-items: center;
}
.wrapper .header .search_bar .input input{
    width: 256px;
    border: none;
    outline: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    background-color: transparent;
}
.wrapper .header .search_bar .search_btn{
    padding-right: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.wrapper .header .search_bar .search_btn .btn{
    width: 106px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #0079FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color:#fff;
    cursor: pointer;
}
.wrapper .header .search_bar .search_btn .btn:hover{
    background: #60ABFF
}
.wrapper main{
    display: none;
    width: 100%;
    max-width: 730px;
    min-height: 444px;
    height: max-content;
    border-radius: 15px;
    background: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}
.wrapper main .content{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    /* align-items: center; */

   
}
.wrapper main .content .promo .img img{
    width: 117px;
    border-radius:100%;
    /* background-color: rebeccapurple; */
}
.wrapper main .content .promo{
    display: flex;
    column-gap: 1.5rem;
}
.wrapper main .content .promo .info__user{
    width: 100%;
    /* max-width: 480px; */
    display: flex;
    flex-direction: column;
    /* background: #F74646; */
}
.wrapper main .content .promo .info__user .created{
    width: 100%;
    /* width: 480px; */
    display: flex;
    justify-content: space-between;
    
}
.wrapper main .content .promo .info__user .created .nickname h3{
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.wrapper main .content .promo .info__user .created .nickname p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #0079FF;
}
.wrapper main .content .promo .info__user .created .joined{
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    color: #697C9A;
}
.wrapper main .content .add_info{
    width: 100%;
    max-width: 490px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    transform: translateY(-20px);
    align-self: flex-end;
}
.wrapper main .content .full_info{
    width: 100%;
    max-width: 490px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-self: flex-end;
}
.wrapper main .content .full_info .statistic{
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:99px;
    border-radius: 10px;
    background: #F6F8FF;
}
.wrapper main .content .full_info .statistic .style_size{
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.wrapper main .content .full_info .statistic .style{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.wrapper main .content .full_info .social_links{
    display: flex;
    column-gap: 30px;
    row-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.wrapper main .content .full_info .social_links .loc_left,
.wrapper main .content .full_info .social_links .loc_right{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

}
@media only screen and(max-width:540px){
  
    .wrapper .header .logo_mode{
        max-width: 500px;
    }
    .wrapper .header .search_bar{
        max-width: 500px;
    }
}

/* @media only screen and(max-width:768px){
    .container{
        max-width:600px;
        margin: 60px 0;
    }
    .wrapper .header .logo_mode{
        background-color: red;
        padding: 0 20px;
    }
    .wrapper .header .search_bar{
        max-width: 600px;
        background-color: #F74646;
    }
    
} */